# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files


finetuned_models_output/
checkpoints/
*.pt
*.bin
*.csv
!finetuned_models_output/*_final.csv


# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# VSCode settings
.vscode/